# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build/css
/build/js
/build/static/*
/build/asset-manifest.json
/build/manifest.json
/build/*.ico
/build/*.html
/build/*.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
*.iml

src/**/*.css

temp/
